{% extends "base.html.twig" %}




{% block body %}

<h1>Boardgame Library</h1>
<table>
                <thead>
                    <tr>
                        <th class="text-blue-600">Name</th>
                        <th>Rating</th>
                        <th>Release year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for boardgame in boardgames %}
                        <tr>
                            <td>
                                {{boardgame.title}}
                            </td>
                            <td>
                                {{ boardgame.ratingBoardgameGeek}}
                            </td>
                            <td>
                                {{boardgame.releaseYear}} 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

{% endblock %}